<!DOCTYPE html>
<head>
    <title>SIGN-IN</title>
</head>
<body>
    <div class="container">
        <div class="logo">
            //LOGO
        </div>
        <form>
            <input name="login" type="text" placeholder="username or email">
            <input name="password" type="password" placeholder="password">
            <button>SIGN-IN</button>
        </form>
        <div class="newaccount">
            Create
        <a href="">New Account</a>
        </div>
        
    </div>
</body>