<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>SIGN UP</title>
</head>
<body>
    <div class="container">
        <div class = "logo">
            //LOGO
        </div>
        <div class="login container">
            <form>
                <input name="e-mail" type="text" placeholder="e-mail">
                <input name="name" type="text" placeholder="your name">
                <input name="password" type="password" placeholder="password">
                <input name="password" type="password" placeholder="re-enter password">
                <input name="checkbox" type="checkbox" placeholder="I accept conditions of use">
                <button>Create New Account!</button>
            </form>
        </div>
    </div>
</body>